body{
    background-color: rgb(15, 96, 102) !important;
    color:white !important;
}
h1,h2{
    text-decoration: underline;
    color: rgb(184, 183, 182);
}
a{
    color:white !important
}
li{
    font-size: 18px;
}
.app{
    display: flex;
    justify-content: space-around;
}
.arsalanRepo{
    border-right: 1px ridge grey;
    padding-right: 7%;
}

@media screen and (max-width: 400px) {
    li{
        font-size: 14px;
    }
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 22px !important;
    }
    .arsalanRepo{
        padding-right: 0px;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    li{
        font-size: 16px;
    }
    h1{
        font-size: 34px !important;
    }
    h2{
        font-size: 25px !important;
    }
    .arsalanRepo{
        padding-right: 0px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .arsalanRepo{
        padding-right: 5%;
    }
    .inamRepo{
        padding-left: 5%;
    }
}